body { color:#444;font-family:Trebuchet,"Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}

a img {border:0;}

.left {text-align:right;}
a.read_more { font-size:12px; text-decoration:none;color:#2786C2;text-align:right;}

#header {background-color:black;height:50px;}

#body {margin-bottom: 15px;}
#footer {margin-top: 15px;}

/* index */
.panel {padding:0 15px; margin-top:15px;}
.panel h2{margin-bottom:0;color:#333;font-size:20px;}
.panel h3{margin:0 0 5px 0;color:#AAA;font-size:12px;font-weight:bold;}
.panel p.description{font-size:12px; margin-bottom:5px;}

.double_panel {padding: 0 45px 0 15px;}

.border-right {border-left:1px solid #CCC;}

hr.line {border:1px 0 0 0 solid #CCC; margin:0;}
