body { color:#444;font-family:Trebuchet,"Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}

hr { margin: 7px;}

a img {border:0;}

.left {text-align:right;}

#header {background-color:black;min-height:70px;}
#logo {padding-left:15px; padding-top: 10px;}

#wrap {min-height:100%;}
#content {overflow:auto;padding-bottom:120px;}
#footer {background-color:#ddd;position:relative;margin-top:-120px;height:120px;clear:both;}

.panel {padding:0 15px; margin-top:15px;}
.panel h2{margin-bottom:0;color:#333;font-size:20px;}
.panel img {border: 1px solid #DDD; padding:5px;}
.panel h3{margin:0 0 5px 0;color:#AAA;font-size:12px;font-weight:bold;}
.panel h4{font-size:15px;margin-bottom:5px;}
.panel p {font-size:12px; margin-bottom:5px;}
.panel p span {font-weight:bold;font-size:1.3em;}
.panel#como p span {color:#3a9;}
.panel#quem p span {color:#f33;}
.panel#o-que p span {color:#37d;}

.back-to-home {text-align: center;}

.border-right {border-right:1px solid #CCC;}
.border-left {border-left:1px solid #CCC;}

input, textarea {display: block; margin: 4px;}

.margeado {margin-top: 20px;}
