body { color:#444;font-family:Trebuchet,"Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}

a img {border:0;}

.left {text-align:right;}

#header {background-color:black;height:50px;}
#logo {padding-left:15px;}

#body {margin-bottom: 15px;}
#footer {margin-top: 15px;}

.panel {padding:0 15px; margin-top:15px;}
.panel h2{margin-bottom:0;color:#333;font-size:20px;}
.panel h2 a{color:#333;text-decoration:none;}
.panel h2 a:hover {text-decoration:underline;}
.panel img {border: 1px solid #DDD; padding:5px;}
.panel h3{margin:0 0 5px 0;color:#AAA;font-size:12px;font-weight:bold;}
.panel h4{font-size:15px;margin-bottom:5px;}
.panel p.description{font-size:12px; margin-bottom:5px;}
.panel .description a {font-size:14px; font-weight:bold;}
.panel#como .description a {color:#3a9;}
.panel#como .description a:hover {color:#187;}
.panel#quem .description a {color:#f33;}
.panel#quem .description a:hover {color:#c11;}
.panel#o-que .description a {color:#37d;}
.panel#o-que .description a:hover {color:#15a;}

.back-to-home {text-align: center;}

.border-right {border-right:1px solid #CCC;}
.border-left {border-left:1px solid #CCC;}

hr.line {border:1px 0 0 0 solid #CCC; margin:0;}
