---
layout: default
title: Home
---

.container_20#main
  .grid_6.panel#quem
    %h2
      %a(href='/quem-somos.html')
        Quem somos
    %h3 Conheça mais quem é a tink!
    %img(src='/images/quem-somos-small.jpg')
    %p.description
      Lorem
      %a(href='#') ipsum dolor
      sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum

  .grid_6.panel#o-que
    %h2
      %a(href='/o-que-fazemos.html')
        O que fazemos
    %h3 Saiba o que brota no chão tinkeiro
    %img(src='/images/o-que-fazemos-small.jpg')
    %p.description
      Lorem
      %a(href='#') ipsum dolor
      Disponibilizamos serviços de consultoria e treinamento, além de desenvolvermos software web para o mercado, como o participe.de.
      %br
      Também temos paixão em contribuir com a comunidade, melhorando projetos open source existentes - como o jekyll e DelayedJobs ou criando novos.
      %br
      Nos metemos a criar e organizar eventos de importancia internacional - como o oxente rails! - com diversos temas de interesse da comunidade, como empreendedorismo, agilidade, ruby e rails.
      %br
      Em nossa agenda futura e não muito distante, planejamos organizar eventos em escala menor, para estimular o crescimento de uma cultura local entre os desenvolvedores. Entre nossos planos estão: dojos, railscamp e barcamp, book club, tradução do livro pro git.
  .grid_6.panel.omega#como
    %h2
      %a(href='/como-fazemos.html')
        Como fazemos
    %h3 Know how we do stuff
    %img(src='/images/como-fazemos-small.jpg')
    %p.description
      Lorem
      %a(href='#') ipsum dolor
      sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
