---
layout: default
title: Home
---

.container_20
  .grid_6.panel
    %h2 Quem somos
    %h3 Subtitulo 1
    %img(src='http://themes.digitonik.com/hyperion/wp-content/uploads/2010/03/robot-small.jpg')
    %p.description
      Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
    %p.left
      %a.read_more(href='#')
        Leia mais

  .grid_6.panel
    %h2 O que fazemos
    %h3 Subtitulo 1
    %img(src='http://themes.digitonik.com/hyperion/wp-content/uploads/2010/03/robot-small.jpg')
    %p.description
      Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
    %p.left
      %a.read_more(href='#')
        Leia mais

  .grid_6.panel.omega
    %h2 Como fazemos
    %h3 Subtitulo 1
    %img(src='http://themes.digitonik.com/hyperion/wp-content/uploads/2010/03/robot-small.jpg')
    %p.description
      Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
    %p.left
      %a.read_more(href='#')
        Leia mais

%hr.line

.container_20
  .grid_12_5.panel
    %h2 Nossos serviços
    %h3 Subtitulo 1
    %img(src='http://themes.digitonik.com/hyperion/wp-content/uploads/2010/03/robot-small.jpg')
    %p.description
      Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
  .grid_6.panel.border-right
    %h2 Como fazemos
    %h3 Subtitulo 1
    %img(src='http://themes.digitonik.com/hyperion/wp-content/uploads/2010/03/robot-small.jpg')
    %p.description
      Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum


