---
layout: default
title: Home
---

.container_20#main
  .grid_6.panel#quem
    %h2
      %a(href='/quem-somos.html')
        Quem?
    %h3 Conheça mais quem é a tink!
    :markdown
      Em uma palavra? Nerds!  

      Em várias? Um [pequeno grupo](#) de [apaixonados](#) por produzir soluções [inovadoras](#) que se [diverte **muito**](#) com o que faz.  

      Buscamos [novos desafios](#) e nos mantemos [antenados](#) com as mudanças constantes deste mercardo caótico.  

      Transformamos idéias em bits e contamos com a ajuda de [muito sorvete](#) para nos inspirar!

  .grid_6.panel#o-que
    %h2
      %a(href='/o-que-fazemos.html')
        O que?
    %h3 Ice Cream => Software
    :markdown
      Disponibilizamos serviços de [consultoria](#) e [treinamento](#), além de desenvolvermos [software web](#) para o mercado, como o participe.de.  
      Também temos [paixão em contribuir](#) com a comunidade, fazendo [código Open Source](#) e se metendo a criar [eventos](#) - como o Oxente Rails! 
      e pequenos eventos de importância local - visando sempre o desenvolvimento da comunidade como um todo.

  .grid_6.panel.omega#como
    %h2
      %a(href='/como-fazemos.html')
        Como?
    %h3 Software feito como uma obra de arte
    :markdown
      Fazemos software de uma [forma diferente](#). Buscamos uma maneira de produzir software de forma usável, simples, eficiente e flexível.
      E entendemos que [software evolui](#) a medida que é utilizado e que não é algo estático e fechado.
      Nos preocupamos mais em resolver o problema que em fazer muito software, isso porque [odiamos desperdicío](#) de tempo e dinheiro.  

      Para maximizar a qualidade do software criado, a produtividade do nosso time e a satisfação dos nossos clientes
      utilizamos [Ruby on Rails](#), [metodologias ágeis](#) e [boas práticas](#) de desenvolvimento, como integração contínua e desenvolvimento guiado por testes.
