---
layout: default
title: Home
---

.container_20#main
  .grid_6.panel#quem
    %h2
      Quem?
    %h3 Conheça mais quem é a tink!
    %p
      Em uma palavra? Nerds!
    %p
      Em várias? Um <span>pequeno grupo</span> de <span>apaixonados</span> por produzir soluções <span>inovadoras</span> que se <span>diverte <strong>muito</strong></span> com o que faz.  
    %p
      Buscamos <span>novos desafios</span> e nos mantemos <span>antenados</span> com as mudanças constantes deste mercardo caótico.
    %p
      Transformamos idéias em bits e contamos com a ajuda de <span>muito sorvete</span> para nos inspirar!

  .grid_6.panel#o-que
    %h2
      O que?
    %h3 Sorvete + Café => Software
    %p
      Disponibilizamos serviços de <span>consultoria</span> e <span>treinamento</span>, além de desenvolvermos <span>software web</span> para o mercado, como o participe.de.  
      Também temos <span>paixão em contribuir</span> com a comunidade, fazendo <span>código open source</span> e se metendo a criar <span>eventos</span> como o Oxente Rails 
      e pequenos eventos de importância para a comunidade tecnológica local visando sempre o desenvolvimento da comunidade como um todo.

  .grid_6.panel.omega#como
    %h2
      Como?
    %h3 Software feito como uma obra de arte
    %p
      Fazemos software de uma <span>forma diferente</span>. Buscamos uma maneira de produzir software de forma usável, simples, eficiente e flexível.
      E entendemos que <span>software evolui</span> a medida que é utilizado e que não é algo estático e fechado.
      Nos preocupamos mais em resolver o problema que em fazer muito software, isso porque <span>odiamos desperdicío</span> de tempo e dinheiro.
    %p
      Para maximizar a qualidade do software criado, a produtividade do nosso time e a satisfação dos nossos clientes utilizamos <span>Ruby on Rails</span>, <span>metodologias ágeis</span> e <span>boas práticas</span> de desenvolvimento, como integração contínua e desenvolvimento guiado por testes.

