---
layout: default
title: O que fazemos
---

.container_20.panel.not_main#o-que-fazemos
  %h2 O que fazemos
  %h3 Ou melhor, o inverso de tudo aquilo que deixamos de fazer!
  %img(src='/images/nossos-servicos-small.jpg')
  .container_20
    .grid_6.panel
      %h4 Produtos
      %p.description
        Na tink!, nosso maior objetivo é fazer software para o mercado, atualmente temos dois sistemas de gerenciamento:
        %br
        * O participe.de é o nosso sistema de gerência de eventos, com ele você poderá controlar todos os aspectos do seu evento, dos participantes aos trabalhos científicos.
        %br
        * O agrupe.me é o nosso sistema de gerência de grupos telefônicos.
        %br
        Saiba mais sobre nossos produtos!
    .grid_6.panel
      %h4 Consultorias
      %p.description
        Se seu projeto está parado, a tecnologia escolhida não supre mais suas necessidades, ou o gerenciamento do seu time anda de mal a pior, nós podemos te ajudar!
        %br
        Acompanharemos sua situação atual, e te guiaremos através de caminhos mais eficientes.
    .grid_6.panel
      %h4 Treinamentos
      %p.description
        Quer atualizar seu time nas mais novas tecnologias e metodologias do mercado? Agilidade, ferramentas de gerenciar código. 
        %br
        Veja os cursos que temos disponíveis!
    .clear.separator
    .grid_9.panel
      %h4 Comunidade
      %p.description
        Nós valorizamos o compartilhamento de informações e o movimento Open Source. Utilizamos várias ferrementas livres em nossas aplicações e também ajudamos algumas a crescer.
        %br
        Clique aqui para conhecer nossas contribuições!
    .grid_9.panel
      %h4 Eventos
      %p.descriptions
        Já ouviu falar do Oxente Rails? O maior evento de rails da america latina? Isso mesmo, fomos nós que o organizamos!
        %br
        O evento reune gurus nas áreas de agilidade, ruby, rails e empreendedorismo de todo o mundo em palestras e atividades que agradam ao público de desenvolvedores e empreendedores.
        %br
        Para saber mais sobre o Oxente Rails que vai acontecer esse ano, visite o www.oxenterails.com
  .clear
  .back-to-home
    %a(href='/index.html')
      %img(src='/images/back.png')

