---
layout: default
title: Quem somos
---

.container_20.panel.not_main#quem-somos
  %h2 Quem somos
  %h3 Os doido da tink!
  .container_20
    .grid_7.panel
      %h4 Paulo Fagiani
      %img(src='/images/quem-somos-small.jpg')
      %p.description
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum
    .grid_7.panel
      %h4 Anderson Dias
      %img(src='/images/o-que-fazemos-small.jpg')
      %p.description
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum
    .clear
    .grid_7.panel
      %h4 Rafael Souza
      %img(src='/images/o-que-fazemos-small.jpg')
      %p.description
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum
    .grid_7.panel
      %h4 Maximiliano Guerra
      %img(src='/images/quem-somos-small.jpg')
      %p.description
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum
  .clear
  .back-to-home
    %a(href='/index.html')
      %img(src='/images/back.png')

