---
layout: default
title: parceiros
---

.container_20#main
  .grid_20.panel
    %h2 Parceiros
    %h4 Emissão de NFe
    %ul.horizontal
      %li
        %a{ :alt => 'Tec-Soft Informática - Criando Soluções', :href => 'http://www.tecsoft.info' }
          %img{ :src => 'images/partners/tecsoft.jpg' }
    %h4 Realização de Eventos
    %ul.horizontal
      %li
        %a{ :alt => 'Idéias Eventos', :href => 'http://ideiaseventos.com.br' }
          %img{ :src => 'images/partners/ideias.jpg' }
      %li
        %a{ :alt => 'Verbo Comunicação e Eventos', :href => 'http://verboeventos.com.br' }
          %img{ :src => 'images/partners/verbo.jpg' }
    %h4 Projetos
    %ul.horizontal
      %li
        %a{ :alt => 'FINEP - Agência Brasileira da Inovação', :href => 'http://www.finep.gov.br'}
          %img{ :src => 'images/partners/finep.jpg' }
      %li
        %a{ :alt => 'Ministério da Ciência e Tecnologia', :href => 'http://mct.gov.br' }
          %img{ :src => 'images/partners/mct.jpg' }
      %li
        %a{ :alt => 'Brasil - Um país de todos', :href => 'http://brasil.gov.br' }
          %img{ :src => 'images/partners/brasil.jpg' }
      %li
        %a{ :alt => 'PRIME - Programa da Primeira Empresa Inovadora', :href => 'http://prime.paqtc.org.br' }
          %img{ :src => 'images/partners/prime.jpg' }
      %li
        %a{ :alt => 'PaqTcPB - Fundação Parque Tecnológico da Paraíba', :href => 'http://paqtc.org.br' }
          %img{ :src => 'images/partners/paqtcpb.jpg' }
    %h4 Associação
    %ul.horizontal
      %li
        %a{ :alt => 'SEBRAE - Serviço Brasileiro de Apoio às Micro e Pequenas Empresas', :href => 'http://www.sebrae.com.br/uf/rio-grande-do-norte' }
          %img{ :src => 'images/partners/sebrae.jpg' }
      %li
        %a{ :alt => 'PROTIC', :href => 'http://www.sebrae.com.br/uf/rio-grande-do-norte' }
          %img{ :src => 'images/partners/protic.jpg' }
      %li
        %a{ :alt => 'SBL - Sociedade Brasileira de Logística', :href => 'http://sbl.org.br' }
          %img{ :src => 'images/partners/sbl.jpg' }
      %li
        %a{ :alt => 'ASSESPRO-RN - Associação das Empresas Brasileiras de Tecnologia da Informação - Seccional RN', :href => 'http://assespro.org.br' }
          %img{ :src => 'images/partners/assesprorn.jpg' }
      %li
        %a{ :alt => 'SETIRN - Sindicato das Empresas de Tecnologia da Informação do Estado do RN', :href => 'http://twitter.com/setirn' }
          %img{ :src => 'images/partners/setirn.jpg' }
