---
layout: default
title: treinamentos
---

.container_20#main
  .grid_15.panel
    %h1 Introdução ao desenvolvimento ágil para web
    %p Dando continuidade ao sucesso das duas edições do <a href='http://oxenterails.com'>Oxente Rails</a> e com a grande procura por treinamentos especializados, a tink! está organizando mais uma rodada de treinamentos e o conteúdo desta versão está excepcional! O nosso estímulo está na formação de profissionais diferenciados, com opinião e que praticam princípios ágeis de verdade. Aprimoramos a grade para que você possa ter uma visão completa do estado da arte do desenvolvimento de software para web.
    %br
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_facebook_like{ "fb:like:layout" => "button_count" }
      %a.addthis_button_tweet
      %a.addthis_counter.addthis_pill_style
    %script{ :type => "text/javascript" } var addthis_config = {"data_track_clickback":true};
    %script{ :type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#username=fagiani" }

    %h2 Empresas com vagas de estágio imediato
    %ul.horizontal
      %li
        %a{ :href => 'http://tec-softinformatica.com.br/' }
          %img{ :src => 'images/partners/training/tecsoft.jpg', :alt => 'Tec-Soft Informática' }
      %li
        %a{ :href => 'http://syncsistemas.com.br/' } 
          %img{ :src => 'images/partners/training/sync.jpg', :alt => 'Sync Sistemas' }
      %li
        %a{ :href => 'http://webhall.com.br/' }
          %img{ :src => 'images/partners/training/webhall.jpg', :alt => 'Webhall' }
      %li
        %a{ :href => 'http://tink.com.br/' }
          %img{ :src => 'images/partners/training/tink.jpg', :alt => 'tink!' }
    %h2 Resumo do conteúdo do treinamento
    %table
      %tr
        %th Conteúdo
        %th Carga Horária
      %tr
        %td Introdução a <a href='http://pt.wikipedia.org/wiki/Orienta%C3%A7%C3%A3o_a_objetos'>Orientação a Objetos</a>
        %td 4 horas
      %tr
        %td Desenvolvimento baseado em testes (<a href='http://pt.wikipedia.org/wiki/Test_Driven_Development'>TDD</a>) com <a href='http://ruby-lang.org/pt/'>Ruby</a>
        %td 8 horas
      %tr
        %td <a href='http://pt.wikipedia.org/wiki/Controle_de_vers%C3%A3o'>Versionamento de código</a> distribuído com <a href='http://pt.wikipedia.org/wiki/Git'>git</a>
        %td 4 horas
      %tr
        %td Fundamentos da estrutura da web (protocolo <a href='http://pt.wikipedia.org/wiki/Http'>HTTP</a>)
        %td 2 horas
      %tr
        %td Desmistificando <a href='http://pt.wikipedia.org/wiki/Html'>HTML</a>, <a href='http://pt.wikipedia.org/wiki/Cascading_Style_Sheets'>CSS</a> e <a href='http://pt.wikipedia.org/wiki/JavaScript'>JavaScript</a>
        %td 8 horas
      %tr
        %td Introdução a aplicações web com <a href='http://rack.rubyforge.org/'>Rack</a> e <a href='http://www.sinatrarb.com/'>Sinatra</a>
        %td 4 horas
      %tr
        %td Criando aplicações em camadas (<a href='http://pt.wikipedia.org/wiki/Mvc'>MVC</a>) com <a href='http://rubyonrails.com.br'>Rails</a>, <a href='http://rspec.info/'>RSpec</a> e <a href='http://cukes.info/'>Cucumber</a>
        %td 8 horas
      %tr
        %td Fazendo deploy da aplicação com <a href='http://en.wikipedia.org/wiki/Capistrano'>Capistrano</a>
        %td 2 horas
    %h2 Formato do treinamento
    %p O treinamento acontecerá em 10 aulas de 4 horas (totalizando 40 horas) nos dias e horários definidos abaixo no Auditório Fernando de Noronha da <a href="http://www.tec-softinformatica.com.br">Tec-Soft Informática</a>. Um ambiente descontraído e aconchegante. Teremos coffee-breaks a cada aula, internet sem fio e tomadas disponíveis para todos. Todos devem trazer seus laptops (se você não tem um laptop e mesmo assim deseja fazer o treinamento, <a href="maito:treinamentos@tink.com.br?subject=Quero%20fazer%20o%20curso%20mas%20não%20tenho%20laptop!">converse conosco</a>!).
    %table
      %tr
        %th Dias
        %th Horário
        %th Início
        %th Inscrições
      %tr
        %td Segunda à Sexta (2 semanas)
        %td 18h às 22h
        %td 03/01/2011
        %td Inscrições em Breve
      %tr
        %td Sábados (10 semanas)
        %td 14h às 18h
        %td 08/01/2011
        %td Inscrições em Breve
    %h2 Investimento
    %p Com o apoio das empresas que estão oferecendo estágio, estamos disponibilizando estas turmas com valores diferenciados por tempo limitado, garanta já sua vaga! Segue abaixo a tabela de valores onde você pode pagar a vista com um bom desconto ou parcelar em até 12x em qualquer cartão de crédito:
    .grid_6.prefix_1.alpha
      %h3 A vista
      %table
        %tr
          %th Forma de Pagamento
          %th Valor
        %tr
          %td Boleto
          %td R$ 352,50
        %tr
          %td Debito - via <a href='http://pagseguro.com.br/'>PagSeguro</a>
          %td R$ 360,86
    .grid_8.omega
      %h3 Cartões de Crédito - via <a href='http://pagseguro.com.br/'>PagSeguro</a>
      %table
        %tr
          %th Parcelas
          %th Valor
          %th Total
        %tr
          %td 1 x
          %td R$ 374,36
          %td R$ 374,36
        %tr
          %td 2 x
          %td R$ 192,77
          %td R$ 385,55
        %tr
          %td 3 x
          %td R$ 129,79
          %td R$ 389,37
        %tr
          %td 4 x
          %td R$ 98,28
          %td R$ 393,15
        %tr
          %td 5 x
          %td R$ 79,40
          %td R$ 397,01
        %tr
          %td 6 x
          %td R$ 66,81
          %td R$ 400,86
        %tr
          %td 7 x
          %td R$ 57,82
          %td R$ 404,76
        %tr
          %td 8 x
          %td R$ 51,08
          %td R$ 408,65
        %tr
          %td 9 x
          %td R$ 45,84
          %td R$ 412,58
        %tr
          %td 10 x
          %td R$ 41,65
          %td R$ 416,55
        %tr
          %td 11 x
          %td R$ 38,22
          %td R$ 420,52
        %tr
          %td 12 x
          %td R$ 35,37
          %td R$ 424,52
