---
layout: default
title: parceiros
---

.container_20#main
  .grid_20.panel
    %h2 Parceiros
    %ul.horizontal
      %li
        %a{ :alt => 'FINEP - Agência Brasileira da Inovação' }
          %img{ :src => 'images/partners/finep.jpg' }
      %li
        %a{ :alt => 'Ministério da Ciência e Tecnologia' }
          %img{ :src => 'images/partners/mct.jpg' }
      %li
        %a{ :alt => 'Brasil - Um país de todos' }
          %img{ :src => 'images/partners/brasil.jpg' }
      %li
        %a{ :alt => 'PRIME - Programa da Primeira Empresa Inovadora' }
          %img{ :src => 'images/partners/prime.jpg' }
      %li
        %a{ :alt => 'PaqTcPB - Fundação Parque Tecnológico da Paraíba' }
          %img{ :src => 'images/partners/paqtcpb.jpg' }
    %ul.horizontal
      %li
        %a{ :alt => 'SEBRAE - Serviço Brasileiro de Apoio às Micro e Pequenas Empresas' }
          %img{ :src => 'images/partners/sebrae.jpg' }
      %li
        %a{ :alt => 'PROTIC' }
          %img{ :src => 'images/partners/protic.jpg' }
      %li
        %a{ :alt => 'SBL - Sociedade Brasileira de Logística' }
          %img{ :src => 'images/partners/sbl.jpg' }
      %li
        %a{ :alt => 'ASSESPRO-RN - Associação das Empresas Brasileiras de Tecnologia da Informação - Seccional RN' }
          %img{ :src => 'images/partners/assesprorn.jpg' }
      %li
        %a{ :alt => 'SETIRN - Sindicato das Empresas de Tecnologia da Informação do Estado do RN' }
          %img{ :src => 'images/partners/setirn.jpg' }
    %ul.horizontal
      %li
        %a{ :alt => 'Tec-Soft Informática - Criando Soluções' }
          %img{ :src => 'images/partners/tecsoft.jpg' }
      %li
        %a{ :alt => 'Idéias Eventos' }
          %img{ :src => 'images/partners/ideias.jpg' }
      %li
        %a{ :alt => 'Verbo Comunicação e Eventos' }
          %img{ :src => 'images/partners/verbo.jpg' }
