---
layout: default
title: produtos
---

.container_20
  .grid_5.alpha
    .panel
      %h2 agrupe.me
      %h3 Gestão de grupos telefônicos móveis
      %ul
        %li Criação de centros de custos
        %li Cobrança individualmente cada participante do grupo (com envio de SMS)
        %li Conferência de contas bancárias
        %li Criação de grupos financeiros e de mensagens
        %li Envio de SMSs para os grupos
  .grid_5
    .panel
      %h2 participe.de
      %h3 Gestão de eventos e congressos científicos
      %ul
        %li Inscrições com vencimentos e valores diferentes
        %li Pagamentos em boleto ou por cartões de débito ou crédito
        %li Submissão e avaliação de trabalhos científicos
        %li Emissão de etiquetas para crachá e certificado de participação
  .grid_5
    .panel
      %h2 leiloe.me
      %h3 Venda de coisas pessoais
      %ul
        %li Cadastro super simples
        %li Não requer cadastro dos compradores
        %li Não tem data de finalização
        %li Não exige preço mínimo
        %li Não esconde o comprador do vendedor
        %li Deixa o comprador a vontade para vender para quem quiser
  .grid_5.omega
    .panel
      %h2 NFe Garantida
      %h3 Sua nota fiscal eletrônica guardada seguramente
      %ul
        %li Armazenamento do XML (DANFE) enquanto serviço estiver contratado
        %li Armazenamento seguro do Certificado Digital
        %li Homologado em todas as SEFAZ
        %li Integra-se facilmente com qualquer ERP
